.Card {
    display: flex;
    width: fit-content;
    background-color: #2F4858;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.link:hover {
    color: rgb(139, 207, 33)
}

.Card img {
    width: 220px;
}

.card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    overflow-wrap: break-word;
}

.card-description p, .card-description h3 {
    color: #00A17D;
    text-align: center;
}